<div class="container">
  <div class="col-md-8 col-md-offset-2">
    <h2>Success!</h2>
    <p>
      You have completed the survey!
    </p>
    <p>
      <% @feedbacks.each do |feedback| %>
      <li><%= feedback.order_id %></li>
      <li><%= feedback.comment %></li>
      <% end %>
    </p>
  </div>
</div>
<!-- <div class="container">
  <div class="col-md-8 col-md-offset-2">
    <h2>Error!</h2>
    <p>
      You have already completed the survey!
    </p>
  </div>
</div> -->
